table.forums-table {
  tr {
    th {
      font-size: 14px;
      color: #5c636a;
    }

    td.title a {
      color: #000000;
      text-decoration: none;
    }
    td.controllers {
      font-size: 13px;
      a {

      }
    }
  }
}